* {
    margin: auto;
    padding: 0;
}
/* nav css */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    margin: 0px 120px;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 54px;
    margin: 0px 155px;
    float: right;
}
nav li a {
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a:hover {
    color: #A30003;
    transition: 0.3s;
    font-weight: bold;
}
/* body css */
.about {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 2fr;
    grid-template-areas: 
    "h1 h1"
    "img bio";
    grid-column-gap: 80px;
    margin: 0 auto;
    min-height: 100%;
}
h1 {
    grid-area: h1;
    display: inline-block;
    font-size: 50px;
    grid-column-end: 1;
    font-family: "Gelasio", serif;
}
.heroImg {
    grid-area: img;
    padding-left: 150px;
}
.bio {
    grid-area: bio;
    display: inline-block;
    width: 538px;
    height: 610px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 33px;
}
.bio p {
    font-size: 20px;
    display: flex;
    align-items: center;
}
.btn {
    background-color: #A30003;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 64px;
    border: 2px solid transparent;
    margin: 40px 150px;
    display: inline-block;
    transition: transform 0.3s;
}
.red {
    color: #A30003;
}
.btn:hover {
    transform: scale(1.2);
}
/* footer css */
footer {
    background-color: #2A2E2E;
    display: flex;
    width: 93%;
    height: 150px;
    margin-top: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer ul {
    display: flex;
    align-items: center;
}
footer li a {
    padding-right: 30px;
    color: #08A4AF;
    font-size: 20px;
    text-decoration: none;
}
footer li a:hover {
    font-weight: bold;
}
.CR {
    margin: auto;
    color: #08A4AF;
    font-size: 20px;
}
.iconify {
    color: #08A4AF;
    width:36px;
    height: 36px;
    padding-right: 40px;
    transition: transform 0.3s;
}
.iconify:hover {
    transform: scale(1.2);
}
